:root {
  //color
  --color-white: #ffff;
  --color-black: #101010;
  --color-black-secondary: #1b1b1b;
  --color-primary: #18519b;
  --color-secondary: #0e74bd;
  --color-light: #24abe1;
  --color-gray: #a3a3a3;
  --color-grayLight: #dbdbdb;

  // body font size
  --text-base-size: 16px;

  // type scale
  --text-xs: calc((var(--text-base-size)) * 0.85);
  --text-sm: calc((var(--text-base-size)) * 0.95);
  --text-md: var(--text-base-size);
  --text-lg: calc((var(--text-base-size)) * 1.28);
  --text-xl: calc((var(--text-base-size)) * 1.5);
  --text-xxl: calc((var(--text-base-size)) * 2.25);
  --text-xxxl: calc((var(--text-base-size)) * 3);

  // type weight
  --text-light: 300;
  --text-regular: 400;
  --text-semiRegular: 500;
  --text-semiBold: 600;
  --text-bold: 700;
  --text-extraBold: 900;

  //font-family
  --text-default: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --text-main: 'Rubik', sans-serif;
  --text-secondary: 'Roboto', sans-serif;

  //space-scale
  --space-unit: 1em;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));

  --navbar-middle: calc(100% - (3rem + 14vw)) %;

  --transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  --shadow: 0px 2px 4px #22262c1c;
}

@media (min-width: 1600px) {
  :root {
    --text-scale-ratio: 1.3;
    --text-base-size: 20px;
  }
}

@media (max-width: 800px) {
  :root {
    --text-base-size: 13px;
  }
}

@media all and (max-width: 1360px) {
  :root {
    --text-scale-ratio-big: 1.5;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbbaba;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #898888;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--text-default);
  font-size: var(--text-sm);
  font-weight: var(--text-regular);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  @media (max-width: 800px) {
    height: auto;
    overflow: scroll;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
p,
span,
div,
input,
select,
textarea,
article,
aside,
figcaption,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
li {
  font-family: var(--text-main);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

p,
li,
a {
  line-height: 1.56;
  @media (max-width: 800px) {
    line-height: 1.2;
  }
}

* {
  box-sizing: border-box;
}

img {
  object-fit: contain;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 82px;
  padding-left: 46px;

  &::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -10px;
    width: 0;
    height: 0;
    border-bottom: 60px solid transparent;
    border-top: 60px solid transparent;
    border-right: 60px solid var(--color-primary);
    transform: rotate(45deg);
    @media (max-width: 800px) {
      top: -20px;
      left: -10px;
      border-bottom: 30px solid transparent;
      border-top: 30px solid transparent;
      border-right: 30px solid var(--color-primary);
    }
  }

  .logo-image {
    object-fit: contain;
    height: 80%;
    width: auto;
    margin-top: 16px;
    margin-left: 24px;
    @media (max-width: 800px) {
      height: 3rem;
      margin-left: -12px;
    }
  }
  .info-bar {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    background: var(--color-grayLight);
    border-radius: 0 0 0 14px;
    @media (max-width: 800px) {
      flex-direction: column;
      margin-right: 0;
    }

    .link-bar {
      padding: 8px 16px;
      @media (max-width: 800px) {
        padding: 4px 8px;
      }
      span {
        padding: 0 6px;
      }
    }

    .pengaduan-bar {
      border-radius: 0 0 0 14px;
      padding: 8px 16px;
      background: var(--color-light);
      @media (max-width: 800px) {
        padding: 4px 6px;
      }
      p {
        margin: 0;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  @media (max-width: 1000px) {
    position: relative;
    bottom: auto;
  }
  .footer-bar {
    position: relative;
    .text {
      padding: 12px 12px 12px 32px;
      background: var(--color-white);
    }
    .acc {
      position: absolute;
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
      width: 6vw;
      height: auto;
    }
  }
}

main {
  .row {
    display: flex;
    &.main {
      align-items: flex-end;
      width: 100%;
      height: 100vh;
      padding-top: 0.5%;
      @media (max-width: 1100px) {
        flex-wrap: wrap;
        height: max-content;
        margin-bottom: 2rem;
      }
      @media (min-width: 1600px) {
        padding-top: 4%;
      }
    }
  }
  .main-graphic {
    position: relative;
    width: 50%;
    margin-right: -5%;
    margin-left: 4%;
    @media (max-width: 1300px) {
      width: 60%;
      margin-right: 0;
      margin-left: 0;
    }

    img {
      position: absolute;
      height: 80vh;
      width: auto;
      left: 0;
      top: auto;
      bottom: 20px;
      @media (max-width: 1100px) {
        height: 30vh;
        left: -10vw;
        bottom: 0;
      }
    }
    .line-bg {
      animation: rotating 100000ms linear infinite;
    }
    .q-mark {
      bottom: 82px;
    }
    .petugas {
      transform: translateX(25%);
      height: 70vh;
      bottom: 110px;
      @media (max-width: 1100px) {
        height: 30vh;
        bottom: 0px;
      }
      &.mata {
        &.buka {
          animation: mata-buka 3000ms ease-in-out infinite;
        }
        &.tutup {
          animation: mata-tutup 3000ms ease-in-out infinite;
        }
      }
    }
  }
  .main-content {
    margin-left: 0vw;
    height: 100%;
    z-index: 100;

    @media (max-width: 1100px) {
      padding-left: 10%;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1;
      width: 85%;
    }

    .search-bar {
      width: 80%;
      position: relative;
      margin-top: 1rem;
      @media (min-width: 1600px) {
        width: 75%;
      }
      .bar {
        width: 100%;
        height: calc((var(--text-xxl)) * 1.2);
        font-size: var(--text-lg);
        border: 1px var(--color-gray) solid;
        padding-left: 1rem;
      }
      button {
        position: absolute;
        right: 4px;
        top: 0;
        height: calc((var(--text-xxl)) * 1.2);
        width: calc((var(--text-xxl)) * 1.2);
        background: 0;
        border: none;
        cursor: pointer;
        .material-symbols-outlined {
          font-size: calc((var(--text-xxl)) * 0.7);
          color: var(--color-secondary);
          font-weight: 500;
        }
      }
    }
  }

  .home-card {
    margin-top: 1.5rem;
    display: flex;
    width: 82%;
    // grid-template-columns: repeat(3, 1fr);
    gap: calc(0.8vw + 2px);
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2%;
    @media (min-width: 1600px) {
      margin-top: 2rem;
      gap: calc(1vw + 2px);
      width: 77%;
    }
    @media (max-width: 1000px) {
      width: 80%;
      max-height: max-content;
      padding-right: 0;
    }
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      background: var(--color-primary);
      padding: 1.2rem 1.2rem;
      padding-bottom: 0;
      width: calc((25%) - ((0.8vw + 2px)));
      min-height: 150px;
      overflow: hidden;
      opacity: 0;
      transition: var(--transition);

      @media (min-width: 1600px) {
        min-height: 180px;
        width: calc((25%) - ((1vw + 2px)));
      }

      &:has(.companion) {
        width: 50%;
      }
      &.big {
        width: 50%;
      }
      @media (max-width: 1000px) {
        width: 100%;
        &:has(.companion),
        &.big {
          width: 100%;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 14vw;
        height: 14vw;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
        transform: translate(45%, 45%);
      }

      .icon {
        height: 32px;
        width: auto;
      }

      .row {
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: 1000px) {
          padding: 0;
          margin-left: 0;
          margin-bottom: 0;
        }
        .text {
          padding-bottom: 1.2rem;
          width: 12vw;
          line-height: 1.2;
        }
        .companion {
          margin-left: 1rem;
        }
      }

      &:hover {
        transition-delay: 0s !important;
        opacity: 0.7;
        transform: scale(95%);
      }
    }
  }

  .row {
    .back-button {
      margin-right: 1.5rem;
      width: var(--text-xxxl);
      height: auto;
      transition: var(--transition);
      &:hover {
        filter: grayscale(100%);
        transform: scale(90%);
        opacity: 0.7;
      }
    }
    h1 {
      width: 100%;
      margin: 0;
    }
  }

  .main.bekerja {
    @media (max-width: 1000px) {
      height: max-content;
    }
    .main-graphic {
      width: 35%;
      height: 100%;
      overflow: hidden;
      img {
        height: auto;
        width: 100%;
      }
      .line-bg {
        width: 90%;
        top: 0;
        bottom: auto;
        animation: plane 10000ms cubic-bezier(0.75, 0.08, 0.85, 1.01) infinite;
        // animation: none;
        // transform: translate(-60%, 300%);
      }
      .petugas {
        transform: translateX(0);
      }
      @media (max-width: 1000px) {
        display: none;
      }
    }
    .main-content {
      width: 70%;
      margin-left: -3.5rem;
      @media (max-width: 1000px) {
        margin-top: 1rem;
        width: 90%;
        padding-left: 2rem;
        padding-right: 0;
        height: max-content;
        padding-bottom: 5rem;
        margin-left: 0;
      }

      .home-card {
        padding-left: var(--text-xxxl);
        margin-left: 1.5rem;
        overflow-x: hidden;
        @media (max-width: 1000px) {
          width: 100%;
          height: max-content;
          overflow-y: unset;
          margin-left: 1rem;
          padding-left: 0;
        }
        .card {
          justify-content: flex-start;
          width: calc((100% / 5) - (0.8vw + 2px));

          min-height: 120px;
          @media (min-width: 1600px) {
            padding: 1rem;
            min-height: 150px;
            width: calc((100% / 5) - (0.8vw + 2px + 0.4%));
          }
          @media (max-width: 1000px) {
            width: calc((100% / 2) - (0.8vw + 2px));
          }
          h2 {
            font-size: var(--text-lg);
            color: var(--color-white);
            width: calc(var(--text-lg) * 4);
            font-weight: var(--text-semiBold);
            margin: 0;
          }
          &.expanded,
          &:has(.child) {
            width: 100%;
            background: transparent;
            padding: 0;
            margin-bottom: 1rem;
            opacity: 1;
            h2 {
              color: var(--color-black);
              font-size: var(--text-xl);
              font-weight: var(--text-bold);
              width: 100%;
              margin-bottom: 1rem;
            }
            &:hover {
              transform: none;
              opacity: 1;
            }
            &::before {
              display: none;
            }
          }

          &.expanded {
            width: 100%;
            background: transparent;
            padding: 0;
            margin-bottom: 1rem;
            opacity: 1;
            h2 {
              color: var(--color-black);
              font-size: var(--text-xl);
              font-weight: var(--text-bold);
              width: 100%;
              margin-bottom: 1rem;
            }
            &:hover {
              transform: none;
              opacity: 1;
            }
            &::before {
              display: none;
            }
          }
          .child {
            display: grid;
            grid-gap: calc(0.8vw + 2px);
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            max-height: 13rem;
            padding-right: 2%;
            overflow-x: hidden;
            overflow-y: auto;

            @media (max-width: 1000px) {
              grid-template-columns: repeat(2, 1fr);
              max-height: max-content;
              overflow-y: unset;
              margin-left: 0;
            }

            .country-list {
              background: #dfdfdf;
              padding: 10px;
              justify-content: flex-start;
              align-items: center;
              cursor: pointer;
              // transition: var(--transition);

              @media (max-width: 1000px) {
                &:nth-of-type(odd) {
                  margin-left: 0;
                }
              }
              &:hover {
                transition-delay: 0s !important;
                opacity: 0.7;
                transform: scale(90%);
              }
              .fi {
                width: var(--text-xxl);
                height: var(--text-xxl);
                margin-right: 1rem;
              }
              p {
                padding: 0;
                width: min-content;
              }
            }
          }
        }
      }
    }
  }
}

.row {
  @media (max-width: 1000px) {
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-bottom: 1rem;
    h1 {
      margin-bottom: 1rem;
    }
  }
}

.main.bekerja.profile .main-graphic {
  .line-bg {
    bottom: 10vh;
    top: auto;
    animation: cloud ease-in 10000ms infinite;
  }
}

.info-pengaduan {
  h1 {
    margin-top: 0;
  }

  &.main {
    width: 70%;
    min-width: 964px;
    margin: auto;
    margin-top: 4%;
    position: relative;

    @media (max-width: 1000px) {
      width: 95%;
      min-width: unset;
    }
  }

  .swiper {
    .swiper-slide {
      padding: 4px;
      img {
        object-fit: contain;
        width: 100%;
        max-height: 54vh;
      }
    }

    .swiper-wrapper {
      width: 100%;
      position: relative;
    }
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 55%);
    position: absolute;
    color: var(--color-primary);
  }
  .swiper-button-prev {
    left: -5%;
    @media (max-width: 1000px) {
      left: -2%;
    }
  }
  .swiper-button-next {
    right: -5%;
    @media (max-width: 1000px) {
      right: -2%;
    }
  }
}
.main {
  .home-card.survey {
    width: 58%;
    margin-left: 0;
    display: block;
    @media (max-width: 1500px) {
      width: 70%;
    }
  }
  .text-field {
    width: 100%;
    resize: none;
    padding: 14px;
    margin-top: 1rem;
    border-radius: 0;
    border: 1px solid var(--color-grayLight);
  }
  .btn-primary {
    margin-top: 12px;
    float: right;
  }
  .survey-rate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
    padding: 0 1rem;
    input,
    label {
      transition: var(--transition);
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: calc(100% / 5);
      p {
        text-align: center;
        line-height: 1;
      }
    }
    img {
      border-radius: 50% 50%;
      width: 80%;
      margin-bottom: 8px;
    }
    input {
      display: none;
    }
    input:hover + label {
      transition: var(--transition) !important;
      transition-delay: 0ms I !important;
      transform: scale(105%);
      opacity: 1;
    }

    &:hover {
      label {
        opacity: 0.5;
      }
    }

    input:checked + label {
      opacity: 1;
      transform: scale(105%);
      img {
        border: 4px solid var(--color-primary);
      }
    }
  }
}

.card.full {
  width: 100%;

  &.pencarian {
    padding: 1rem 1.5rem;
    display: block;
  }

  .location,
  .phone-container {
    .material-symbols-outlined {
      font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
      color: #636363;
    }
  }
}

.lowongan-detail {
  .card.full {
    padding-left: 0;
    box-shadow: none;
    border: 0;
    .fi {
      margin-left: 0 !important;
    }
    .info {
      padding-top: 0;
    }
  }
  .row-30 {
    border: none !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    .blocked {
      margin-top: 0;
    }
    .card-container {
      padding: 1.5rem;
      border: 1px solid var(--color-gray);
      height: max-content;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  .card-bg {
    margin-top: 1rem;
  }
  form {
    padding: 8px;
    .row {
      margin-top: 1rem;
      justify-items: stretch;
      justify-content: space-between;
      height: var(--text-xxl);
      input {
        flex: 70% 0;
      }
      button {
        margin-top: 0;
      }
    }
  }
}

.card-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--color-primary);
  padding: 1.2rem 1.2rem;
  margin-top: -0.8rem;
  &.absolute {
    height: fit-content;
    border: 10px double white;
    box-shadow: var(--shadow);
    .row {
      align-items: center;
    }
    @media (max-width: 1440px) {
      margin-right: -2rem;
      padding: 10px 14px;
      margin-top: -0.4rem;
    }
    p {
      width: max-content;
      margin-right: 1rem;
    }
    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48;
    }
  }
}

.second-template {
  .container {
    padding-left: var(--text-xxxl);
    margin-left: 1.5rem;
    overflow-x: hidden;
    padding-right: 10%;
    @media (max-width: 1000px) {
      padding-right: 0;
      margin-left: 1rem;
      padding-left: 0;
    }
  }
}
.navigation-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 96%;
  align-items: center;
  border-bottom: 1px solid var(--color-gray);
  margin-top: 18px;
  @media (max-width: 1000px) {
    overflow-x: scroll;
  }
  .nav {
    display: flex;
    justify-content: center;
    flex: auto;
    padding: 16px 0;
    transition: var(--transition);
    cursor: pointer;
    @media (max-width: 1000px) {
      font-size: 13px !important;
      padding: 8px 16px;
    }
    &.active {
      background: var(--color-primary);
      color: var(--color-white);
      font-weight: var(--text-semiBold);
    }
    &:hover {
      background: var(--color-secondary);
      color: var(--color-white);
    }
  }
}
.content-container {
  max-height: 58vh;
  overflow-y: auto;
  padding: 18px 14px;
  @media (min-height: 1080px) {
    max-height: 58vh;
  }

  @media (max-height: 700px) and (min-width: 1280px) {
    max-height: 51vh;
  }
  @media (max-width: 1000px) {
    max-height: max-content;
  }

  .tab {
    display: none;
    animation: fadein 0.5s fill-mode;
    &.active {
      animation: fadein 0.5s fill-mode;
      display: block;
    }
  }
}

.card.full {
  width: 100%;
  box-shadow: var(--shadow);
  border: 1px solid var(--color-grayLight);

  margin-bottom: 16px;
  @media (max-width: 1000px) {
    flex-direction: column;
  }

  .info {
    flex: 80% 0;
    width: 80%;
    padding: 16px 18px;
    @media (max-width: 1000px) {
      flex: 100% 0;
      width: 100%;
      .row {
        flex-direction: column;
      }
    }
    .semi-bold {
      margin-bottom: 8px;
    }
    span {
      margin-right: 8px;
    }
    .location {
      width: 70%;
      @media (max-width: 1000px) {
        flex-direction: row;
        flex: 100% 0;
        width: 100%;
      }
    }
    .phone-container {
      margin-left: 1rem;
      @media (max-width: 1000px) {
        margin-top: 1rem;
        flex-direction: row;
        flex: 100% 0;
        width: 100%;
      }
    }
  }
  .barcode-container {
    flex: 20% 0;
    width: 20%;
    background: var(--color-light);
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
    @media (max-width: 1000px) {
      flex: 100% 0;
      width: 100%;
    }
    .barcode {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(var(--text-xxxl) * 1.5);
      height: calc(var(--text-xxxl) * 1.5);
      padding: 4px;
      background: var(--color-white);
      border-radius: 8px;
      border: 2px solid var(--color-gray);
      margin-bottom: 8px;
      text-align: center;
      img {
        width: calc(100% - 10px);
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.template-3 {
  .container {
    @media (max-width: 1000px) {
      padding-left: 1.5rem;
    }
  }
  .title-bar {
    @media (max-width: 1000px) {
      flex-wrap: wrap;
      h1 {
        width: 80% !important;
      }
    }
    .search-bar {
      width: 40%;
      position: relative;
      margin-top: 1rem;
      @media (min-width: 1600px) {
        width: 35%;
      }
      @media (max-width: 1000px) {
        width: 100%;
      }
      .bar {
        width: 100%;
        height: calc((var(--text-xxl)) * 1.2);
        font-size: var(--text-regular);
        border: none;
        border-bottom: 1px var(--color-grayLight) solid;
        color: var(--color-gray);
        padding-left: 1rem;
        &::placeholder {
          color: var(--color-gray);
        }
      }
      button {
        position: absolute;
        right: 4px;
        top: 0;
        height: calc((var(--text-xxl)) * 1.2);
        width: calc((var(--text-xxl)) * 1.2);
        background: 0;
        border: none;
        cursor: pointer;
        .material-symbols-outlined {
          font-size: calc((var(--text-xxl)) * 0.7);
          color: var(--color-secondary);
          font-weight: 500;
        }
      }
    }
  }
  .table-filter {
    margin-top: 1rem;
    justify-content: space-between;
    @media (max-width: 1000px) {
      margin-top: 3rem;
      flex-wrap: wrap;
      h2 {
        width: 100%;
      }
    }
    .navigation-container {
      grid-template-columns: repeat(26, 1fr);
      border: 1px var(--color-gray) solid;
      box-shadow: 0px 2px 5px #1f232926;
      width: 75%;
      margin-right: 8px;
      padding: 6px;
      @media (max-width: 1000px) {
        width: 100%;
        margin-bottom: 1rem;
      }
      .nav {
        border-radius: 5vw;
        padding: calc(var(--text-md) * 0.4);
        &.active {
          background: var(--color-light);
        }
      }
    }
    .form-filter {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      @media (max-width: 1000px) {
        width: 100%;
      }
      select {
        width: 7rem;
        background: none;
        height: calc((var(--text-xxl)) * 1.2);
        font-size: var(--text-regular);
        border: none;
        border-bottom: 1px #838383 solid;
        margin-left: 1rem;
        padding-left: 6px;
        color: #838383;
        @media (max-width: 1000px) {
          width: 40%;
        }
      }
    }
  }
  .content-container {
    padding-left: 0;

    .p3mi.tab {
      margin-top: 1rem;
      padding-bottom: 2rem;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      @media (max-width: 1000px) {
        grid-template-columns: repeat(1, 1fr);
      }
      &.active {
        display: grid;
      }
      .card {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 1.5rem 1rem;
        box-shadow: var(--shadow);
        border: 1px solid var(--color-grayLight);
      }
    }
  }
}

.template-4.row {
  width: 105%;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
  h2 {
    margin-bottom: 1rem;
  }
  h2,
  h3 {
    margin-top: 0;
  }
  .row-60,
  .row-30 {
    padding: 1.5rem;
    margin-top: 1rem;
    border: 1px solid var(--color-gray);
    max-height: 60vh;
    overflow-y: auto;
    @media (max-width: 1000px) {
      max-height: none;
      overflow-y: visible;
      width: 100% !important;
      flex: 100% !important;
      overflow-x: scroll;
    }
  }
  .row-60 {
    flex: 75% 0;
    width: 75%;
    margin-right: 1rem;
  }

  .row-30 {
    flex: 35% 0;
    width: 35%;
  }
  .material-symbols-outlined {
    margin-right: 10px;
    color: var(--color-gray);
  }
  .phone-container {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  .blocked {
    background: #efefef;
    padding: 14px 10px;
    margin-top: 1rem;
  }
}
.lowongan-list {
  &.row {
    justify-content: space-between;
    flex-grow: inherit;
    .container {
      padding-right: 5%;
      padding-top: 0;
      margin-right: 0;
      padding-left: 1rem;
      .row-60 {
        border: none;
        flex: 100% 0;
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        margin-top: 1.5rem;
        max-height: 50vh;
        @media (min-height: 1080px) {
          max-height: 56vh;
        }

        @media (max-height: 700px) and (min-width: 1280px) {
          max-height: 51vh;
        }
      }
    }
    .row-30 {
      flex: 30% 0;
      margin-top: 2rem;
      margin-right: 2rem;
      padding: 0;
      padding-right: 0.5rem;
      align-self: stretch;
      overflow: hidden;
    }
  }
  .card.full {
    display: block;
    margin-bottom: 1.5rem;
    .fi {
      font-size: 3.5vw;
      height: 4.5vw;
      margin: auto 1.5rem;
      border-radius: 3vw 3vw;
      background-size: cover;
      @media (max-width: 1000px) {
        margin-top: 1.5rem;
      }
      &.fi-jp {
        border: 1px solid var(--color-grayLight);
      }
    }
    .info {
      .phone-container {
        margin-left: 0;
        margin-bottom: 0;
        p {
          color: #afafaf;
        }
        &:last-child {
          .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
          }
        }
      }
    }
  }
}

.info-pengaduan.main.width-strecth {
  width: 88%;
  max-width: 1300px;
  @media (min-width: 1900px) {
    max-width: 1500px;
  }
}
table {
  /* Global values */
  table-layout: unset;
  width: 100%;
  overflow-x: scroll;
  border-collapse: collapse;
  &.default {
    thead {
      th {
        padding: 1rem 10px;
        border-bottom: 2px solid var(--color-gray);
      }
    }
    tbody {
      td {
        padding: 1rem 10px;
        border-bottom: 1px solid var(--color-gray);
      }
    }
  }
  &.margin-table {
    tr {
      td {
        vertical-align: top;
        padding: 8px 6px;
        &:first-child {
          padding-right: 1rem;
          padding-left: 0;
          position: relative;
          &:after {
            content: ':';
            position: absolute;
            right: 8px;
            top: 8px;
          }
        }
      }
    }
  }
}

.modal-nav {
  cursor: pointer;
}

.filter-table {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .head {
    width: calc(100% + 3rem);
    padding: 1rem 1.5rem;
    background: var(--color-grayLight);
    opacity: 0.7;
    margin-bottom: 1rem;
  }
  .search-bar {
    width: 100%;
    position: relative;
    margin-top: 1rem;
    @media (min-width: 1600px) {
      width: 100%;
    }
    .bar {
      width: 100%;
      height: calc((var(--text-xxl)) * 1.2);
      border: 1px var(--color-gray) solid;
      padding-left: 0.5rem;
    }
    button {
      position: absolute;
      right: 0px;
      top: 0;
      height: calc((var(--text-xxl)) * 1.2);
      width: calc((var(--text-xxl)) * 1.2);
      background: 0;
      border: none;
      cursor: pointer;
      .material-symbols-outlined {
        font-size: calc((var(--text-xxl)) * 0.7);
        color: var(--color-secondary);
        font-weight: 500;
        margin-right: 4px;
      }
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - (var(--text-sm) + 4rem));

    padding-bottom: 1.5rem;
    padding-left: 1.5rem;

    .filter-container-overflow {
      overflow-y: auto;
      padding-right: 1rem;
      margin-bottom: 1rem;
    }

    .checkbox-filter {
      width: 100%;
      position: relative;
      padding-bottom: 16px;
      padding-left: 3px;

      cursor: pointer;
      .checkbox-parent {
        display: none;
      }
      label {
        color: #6f6f6f;
        cursor: pointer;
      }
      .checkbox-parent + label::after {
        content: '+';
        width: var(--text-xl);
        font-size: var(--text-xl);
        font-weight: 500;
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        color: var(--color-light);
        transition: var(--transition);
      }

      .filter-detail {
        width: 100%;
        padding-bottom: 8px;
        border-top: 1px solid #6f6f6f;
        margin-top: 8px;
        height: 0;
        overflow: hidden;
        transition: var(--transition);
        @media (min-width: 1440px) {
          margin-top: 1rem;
        }
        .checkbox-container {
          max-height: 8rem;
          overflow-y: auto;
          margin-top: 8px;
        }
        .row {
          width: 100%;
          align-items: center;
          padding: 4px;
          input {
            height: 16px;
            width: 16px;
            border-radius: 0;
            margin-right: 1rem;
          }
        }
      }
      .checkbox-parent:checked + label {
        &::after {
          content: '-';
        }
        .filter-detail {
          height: calc((var(--text-md) * 1.15) + 12rem);
        }
      }
    }
    .btn-primary {
      width: calc(100% - 3rem);
      padding: 16px;
      margin: 0 auto;
      margin-top: 8px;
    }
  }
}

.modals {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000000;
  background: #ffffffab;
  display: none;
  .popup-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    display: none;
    justify-content: center;
    padding-top: 10vh;
    transition: var(--transition);
    transition-delay: 300ms;
    @media (max-width: 1000px) {
      padding-top: calc((100vh - 47vw) / 2);
    }
    img {
      height: 47vw;
      width: auto;
      max-height: 80vh;
      box-shadow: var(--shadow);
      transition: var(--transition);
      transition-delay: 10000ms;
      z-index: 5;
      box-shadow: var(--shadow);
    }
    .close-btn {
      background: #ff0000;
      width: fit-content;
      height: fit-content;
      padding: 0.5rem;
      box-shadow: var(--shadow);
      cursor: pointer;
      transition: var(--transition);
      &:hover {
        transition-delay: 0s !important;
        padding: 1rem;
      }
      span {
        font-size: var(--text-xxl);
        color: var(--color-white);
      }
    }
    &.active {
      opacity: 1;
      display: flex;
    }
  }
  &.active {
    display: block;
    animation: fadein 300ms cubic-bezier(0.4, 0, 1, 1);
  }

  &.modal-barcode,
  &.modal-form {
    .popup-content-form {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      display: none;
      justify-content: center;
      padding-top: 12vh;
      transition: var(--transition);
      transition-delay: 300ms;
      @media (max-width: 1000px) {
        padding-top: calc((100vh - 47vw) / 2);
      }
      img {
        height: 47vw;
        width: auto;
        max-height: 80vh;
        box-shadow: var(--shadow);
        transition: var(--transition);
        transition-delay: 10000ms;
        z-index: 5;
        box-shadow: var(--shadow);
      }
      .close-btn {
        background: #ff0000;
        width: fit-content;
        height: fit-content;
        padding: 0.5rem;
        box-shadow: var(--shadow);
        cursor: pointer;
        transition: var(--transition);
        &:hover {
          transition-delay: 0s !important;
          padding: 1rem;
        }
        span {
          font-size: var(--text-xxl);
          color: var(--color-white);
        }
      }
      &.active {
        opacity: 1;
        display: flex;
      }
      @media (max-width: 1000px) {
        padding-top: calc((100vh - 352px) / 2);
      }
      .container {
        border: 1px solid var(--color-gray);
        box-shadow: var(--shadow);
        height: 70vh;

        img {
          height: 60vh;
          background: var(--color-white);
          padding: 16px;
        }
        p {
          background: var(--color-primary);
          height: 10vh;
          text-align: center;
          justify-content: center;
          display: flex;
          align-items: center;
        }
        @media (max-width: 1000px) {
          width: 294px;
          height: max-content;
          img {
            width: 294px;
            height: auto;
          }
        }
      }
      .container {
        &.pop-form {
          height: 40vh;
          width: 60vw;
          @media (max-width: 1000px) {
            height: 60vh;
            width: 80vw;
          }
          .pop-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            img.acc {
              position: absolute;
              height: auto;
              width: 18vw;
              max-height: 25vh;
              bottom: 0;
              left: 0;
              padding: 0;
              background: none;
              @media (max-width: 1000px) {
                height: 20vh;
                width: auto;
              }
            }
            form {
              display: flex;
              margin-top: -10vh;
              input {
                width: 35vw;
                height: calc((var(--text-xxl)) * 1.3);
                font-size: var(--text-lg);
                border: 1px var(--color-gray) solid;
                padding-left: 1rem;
                margin-right: 1rem;
                margin-left: 8vw;
                @media (max-width: 1000px) {
                  width: 50vw;
                  margin-left: 0vw;
                }
              }
            }
          }
        }
        &.pop-detail {
          width: 90vw;
          height: 85vh;
          .pop-container {
            overflow-y: auto;
            .row {
              justify-content: space-between;
              margin-bottom: 1rem;
              &.card-container {
                padding: 14px 16px;
                border: 1px solid var(--color-grayLight);
                .blocked {
                  margin-bottom: 0;
                }
              }
            }
          }
          p {
            background: none;
            height: auto;
            text-align: left;
            display: block;
            &.header-pop {
              background: var(--color-primary);
              padding: 1rem;
              text-align: center;
            }
          }

          .blocked {
            padding: 8px 1.5rem;
            display: flex;
            align-items: center;
            &.rounded {
              border-radius: 2rem;
              &.status {
                &.green {
                  background: #11c247;
                }
                &.red {
                  background: rgb(158, 17, 17);
                }
                &.yellow {
                  background: rgb(168, 168, 5);
                }
              }
            }
          }

          .pop-container {
            padding: 1rem;
          }
        }
      }
    }
  }

  &.modal-form .popup-content {
    padding-top: 10vh;
  }

  .pop-form,
  .pop-detail {
    position: relative;
    background: var(--color-white);
    display: none;
    flex-direction: column;
    &.active {
      display: flex;
    }
  }
}

.riwayat-bagan {
  padding-left: 2.5rem;
  .pengaduan-detail {
    position: relative;
    border: 1px solid var(--color-grayLight);
    margin: 1rem 0;
    &::before {
      position: absolute;
      content: '';
      left: calc(-1.25rem - 12px);
      top: calc(1.5rem - 4px);
      width: 12px;
      height: 12px;
      background: var(--color-grayLight);
      border-radius: 12px;
    }
    &::after {
      position: absolute;
      content: '';
      left: calc(-1.25rem - 7px);
      top: 1.5rem;
      width: 2px;
      height: calc(100% + 1rem);
      background: var(--color-grayLight);
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    .title {
      background: var(--color-secondary);
      display: flex;
      position: relative;
      height: 3rem;
      align-items: center;
      padding-left: 1rem;

      &::before {
        position: absolute;
        content: '';
        left: -9px;
        border-bottom: 10px solid rgba(0, 0, 0, 0);
        border-top: 10px solid rgba(0, 0, 0, 0);
        border-right: 10px solid var(--color-secondary);
      }
    }
    .content {
      padding-left: 1rem;
      padding-top: 1rem;
    }
  }
}

.btn-primary {
  background: var(--color-primary);
  border-radius: 0;
  border: none;
  outline: none;
  padding: 8px 1rem;
  cursor: pointer;
  &.secondary-color {
    background: var(--color-light);
  }
}

.pagination {
  justify-content: center;
  align-items: center;
  .page {
    background: #f9f9f9;
    border: 1px solid #e2e2e2;
    padding: 6px 4px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-gray);
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-symbols-outlined {
      width: fit-content;
      color: var(--color-black-secondary);
    }

    &.inactive {
      cursor: not-allowed;
      opacity: 0.7;
    }
    &.active {
      background: var(--color-primary);
      span {
        color: var(--color-white);
      }
    }
    &:hover {
      background: #c5c4c4;
    }
    &.back {
      .material-symbols-outlined {
        padding-left: calc((var(--text-base-size)) * 0.7);
      }
    }
  }
}

article {
  width: 100%;
  p {
    font-size: var(--text-default);
    color: var(--color-black-secondary);
    margin: 0;
    padding: 0;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  img {
    object-fit: contain;
    height: auto;
    &.full-size {
      width: 100%;
    }
    &.half-size {
      width: 49.7%;
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes plane {
  0% {
    transform: translate(-100%, 400%);
  }
  100% {
    transform: translate(120%, 200%);
  }
}

@keyframes cloud {
  0% {
    transform: translateX(110%);
  }
  98% {
    transform: translateX(-100%);
  }
  99% {
    transform: translate(-100%, 200%);
  }
  100% {
    transform: translate(110%, 0);
  }
}

@keyframes fadein {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mata-buka {
  0% {
    opacity: 1;
    translate: 0 0%;
    scale: 100% 100%;
  }
  50% {
    opacity: 1;
    translate: 0% 0%;
    scale: 100% 100%;
  }
  60% {
    opacity: 1;
    translate: 0% 0%;
    scale: 100% 100%;
  }
  65% {
    opacity: 1;
    translate: 0% -24.5%;
    scale: 100% 20%;
  }

  67% {
    opacity: 0;
  }
  73% {
    opacity: 0;
    translate: 0% -24.5%;
    scale: 100% 20%;
  }
  75% {
    opacity: 1;
    translate: 0 0%;
    scale: 100% 100%;
  }
  100% {
    opacity: 1;
    translate: 0 0%;
    scale: 100% 100%;
  }
}

@keyframes mata-tutup {
  0% {
    opacity: 0;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .main-graphic {
    display: none !important;
  }
}
.card,
button,
.modal-nav {
  transition: var(--transition);
  &:hover {
    transform: scale(90%);
    opacity: 0.7;
  }
  &.full.lowongan-detail {
    &:hover {
      transform: scale(100%);
      opacity: 1;
    }
  }
}

//overlay hardcoded
span.text.small.white.roboto {
  text-align: center;
  width: max-content;
}
